body{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: baseline; /*items are for overall layout, content is spacing. Align-content for one line of divs does nothing*/

}

.item1{
    background-color: red;
}

.item2{
    background-color: orange;
}

.item3{
    background-color: yellow;
}

.item4{
    background-color: green;
}

.item5{
    background-color: blue;
}

.item6{
    background-color: violet;
}


.items{
    position: relative;
    opacity: .8;
    padding: 1em;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;

    flex-basis: 60px;

    border-radius: 2em;
    
    
}

.items:hover{
    transform-origin: left;
    width: 100px;
   /* text-align: right;*/

}

span{
    position: relative;
    top: 10%;
    left: 10;

    animation-name: textMoveDown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes textMoveDown {
    50%{
        font-style: italic;
        top: 70%;
    }  
    
}